# Ignore environment files
.env
.envtemplate

# Ignore Git repository
.git/
.gitignore

# Ignore logs and temp files
logs/
*.log
tmp/

# Ignore dependencies (if rebuilding in the container)
node_modules/
__pycache__/

# Ignore Docker metadata files
.dockerignore
Dockerfile

google_api.json
