{% extends "base.html" %} {% block content %}
<div class="container d-flex flex-column align-items-center">
  <h1 class="display-1">Game Select</h1>
  <h2>Favorite Teams:</h2>
  <ul class="list-group-flush">
    {%for team in favorite_teams%}
    <li class="list-group-item">{{team}}</li>
    {%endfor%}
  </ul>

  {%for game in games%}
  <ul>
    <h3>Game</h3>
    <h6>Home Team: {{game.home.name}} {{game.score.home}}</h6>
    <h6>Away Team: {{game.away.name}} {{game.score.away}}</h6>
    {%for events in game.plays%}
    <li>
      {{events.description}} <strong>Home:</strong> {{events.homeScore}}
      <strong>Away:</strong>
      {{events.awayScore}}
    </li>
    {%endfor%}
  </ul>
  {%endfor%}
</div>
{% endblock %}
