{% extends "base.html" %}
{% block content %}
{% load django_bootstrap5 %}
<script>
  const demoLogin = () => {
    document.getElementById("id_username").value = "Test User";
    document.getElementById("id_password").value = "test";
    document.getElementById("login-form").submit();
  };
</script>
<div class="container d-flex flex-column align-items-center">
  <h2>Login</h2>
  <form method="post" id="login-form">
    {% csrf_token %}
    {% bootstrap_form form layout="floating"%}
    {% bootstrap_button "Login" button_type="submit" button_class="btn-primary"%}
    <button type="button" onclick="demoLogin()">Demo User</button>
  </form>
  <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
</div>
{% endblock content %}
