{% extends "base.html" %} {% block content %} {% load django_bootstrap5 %}
<div class="container d-flex flex-column align-items-center mb-3">
  <h1 class="display-1">My Profile</h1>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>First Name:</strong> {{ user.first_name|default:"Not set" }}</p>
  <p><strong>Last Name:</strong> {{ user.last_name|default:"Not set" }}</p>
  <label><strong>Favorite Teams:</strong></label>
  <ul class="list-group">
    {% for team in favorite_teams %}
    <li class="list-group-item"> {{team}} </li>
    {% endfor %}
  </ul>
</div>

<div class="container d-flex flex-column align-items-center">
  <h3>Select Favorite Teams</h3>
  <p class="text-muted">Hold ctrl to select multiple</p>
  <form method="post" class="form col">
    {% csrf_token %}
    {% for field in form %}
      {% bootstrap_field field%}
    {% endfor %}
    {% bootstrap_button "Save" button_type="submit" button_class="btn btn-outline-primary"%}
  </form>
</div>

{% endblock %}
