{% extends "base.html" %} {% block content %}
<div class="profile-container">
  <h2>My Profile</h2>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>First Name:</strong> {{ user.first_name|default:"Not set" }}</p>
  <p><strong>Last Name:</strong> {{ user.last_name|default:"Not set" }}</p>
  <p><strong>Favorite Teams:</strong></p>
  <ul>
    {%for team in favorite_teams%}
    <li>{{team}}</li>
    {%endfor%}
  </ul>
</div>

<div>
  <h3>Select Favorite Teams</h3>
  <p>Hold ctrl to select multiple</p>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
</div>

{% endblock %}
